#results {
  display: flex;
  border-top: 1px solid var(--border);
  min-height: 260px;

  & > div {
    flex: 1 1 0;
    padding: 32px;
    @media (max-width: 1024px) {
      padding: 24px 20px;
    }
  }

  div#error {
    p {
      color: var(--error);
    }
  }

  div[aria-label="circular-progress-loading"] {
    display: inline-block;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
  }
}

#selections {
  border-bottom: 1px solid var(--border);
}
